:root {
    --primary: #03DAC5;
    --secondary: #0384da;
    --tertiary: #da0318;
}

body {
    background-color: #1D1D1D;
    color: white;
}

h1, h2 {
    color: var(--primary);
}

code {
    color: var(--tertiary);
    background-color: #363636;
}

input[type="text"] {
    border-radius: 4px;
    border-color: var(--primary);
    padding: 0.4rem;
}

input[type="text"]:focus {
    border-color: var(--secondary);
    outline: none;
}

input[type="submit"] {
    color: #242727;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem;
}

input[type="submit"]:hover {
    background-color: var(--secondary);
    transition: background-color 200ms ease-in-out;
}
